name: Openwrt-X86

on:
  repository_dispatch:
  workflow_dispatch:
  #    inputs:
  #      ssh:
  #        description: 'SSH connection to Actions'
  #        required: false
  #        default: 'false'
  # 周日22时 CN周一6时
  # schedule:
  #    - cron: 0 16 * * 0

env:
  REPO_URL: https://github.com/coolsnowwolf/lede
  REPO_BRANCH: master
  FEEDS_CONF: feeds.conf.default
  CONFIG_FILE: config/X86.config
  DIY_P1_SH: diy_script/diy-part1.sh
  DIY_P2_SH: diy_script/diy-part2.sh
  COMMIT_LOG_NUM: 1
  RELEASE_TAG: 23.05-X86
  UPLOAD_BIN_DIR: false
  UPLOAD_FIRMWARE: true
  UPLOAD_COWTRANSFER: false
  UPLOAD_WETRANSFER: false
  UPLOAD_RELEASE: true
  SERVERCHAN_SCKEY: true
  TZ: Asia/Shanghai
  MNT_DIR: /mnt/mydirectory  # 所有文件将被放置到 /mnt/mydirectory

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
    - name: 创建 /mnt 目录
      run: |
        sudo mkdir -p $MNT_DIR
        sudo chown $USER:$GROUPS $MNT_DIR
        echo "目录 $MNT_DIR 已创建"

    - name: 检查服务器性能 # Check Server Performance
      run: |
        echo "警告⚠"
        echo "分配的服务器性能有限，若选择的插件过多，务必注意CPU性能！"
        echo -e "已知CPU型号（降序）：7763，8370C，8272CL，8171M，E5-2673 \n"
        echo "--------------------------CPU信息--------------------------"
        echo "CPU物理数量：$(cat /proc/cpuinfo | grep "physical id" | sort | uniq | wc -l)"
        echo -e "CPU核心信息：$(cat /proc/cpuinfo | grep name | cut -f2 -d: | uniq -c) \n"
        echo "--------------------------内存信息--------------------------"
        echo "已安装内存详细信息："
        echo -e "$(sudo lshw -short -C memory | grep GiB) \n"
        echo "--------------------------硬盘信息--------------------------"
        echo "硬盘数量：$(ls /dev/sd* | grep -v [1-9] | wc -l)" && df -hT

    - name: 精简系统释放磁盘空间 (Ubuntu)
      uses: jlumbroso/free-disk-space@main
      with:
        tool-cache: true
        android: true
        dotnet: true
        haskell: true
        large-packages: true
        docker-images: true
        swap-storage: true

    - name: 检查准备 # Checkout
      uses: actions/checkout@main
      with:
        fetch-depth: 0

    - name: 缓存依赖
      uses: actions/cache@v3
      with:
        path: |
          $MNT_DIR/.cache
          $MNT_DIR/openwrt/.config
          $MNT_DIR/openwrt/dl
          $MNT_DIR/openwrt/build_dir
        key: ${{ runner.os }}-build-${{ hashFiles('**/Makefile') }}
        restore-keys: |
          ${{ runner.os }}-build-

    - name: 开始安装编译所需系统 # Initialization environment
      env:
        DEBIAN_FRONTEND: noninteractive
      run: |
        sudo rm -rf /etc/apt/sources.list.d/* /usr/share/dotnet /usr/local/lib/android /opt/ghc
        sudo -E apt-get -qq update
        sudo -E apt-get -qq full-upgrade
        sudo -E apt-get -qq install $(curl -fsSL https://github.com/Jason6111/Openwrt_Beta/raw/main/depends-ubuntu-2004)
        sudo -E apt-get -qq autoremove --purge
        sudo -E apt-get -qq clean
        sudo timedatectl set-timezone "$TZ"
        sudo mkdir -p $MNT_DIR/workdir
        sudo chown $USER:$GROUPS $MNT_DIR/workdir

    - name: 下载固件源码 # Clone source code
      working-directory: $MNT_DIR/workdir
      run: |
        df -hT $PWD
        git clone $REPO_URL -b $REPO_BRANCH openwrt
        ln -sf $MNT_DIR/workdir/openwrt $GITHUB_WORKSPACE/openwrt

    - name: 下载固件源到 /mnt 目录 # Copy sources to /mnt
      run: |
        cp -r $MNT_DIR/workdir/openwrt $MNT_DIR
        echo "源码已复制到 $MNT_DIR"

    - name: 缓存 # Cache
      uses: klever1988/cachewrtbuild@main
      with:
        ccache: 'true'
        prefix: $MNT_DIR/openwrt

    - name: patch1补丁和自定义设置 # Load custom feeds
      run: |
        [ -e $MNT_DIR/config/$FEEDS_CONF ] && mv $MNT_DIR/config/$FEEDS_CONF $MNT_DIR/openwrt/feeds.conf.default
        chmod +x $MNT_DIR/$DIY_P1_SH
        cd $MNT_DIR/openwrt
        $MNT_DIR/$DIY_P1_SH

    - name: 更新源 # Update feeds
      run: cd $MNT_DIR/openwrt && ./scripts/feeds update -a

    - name: 安装源 # Install feeds
      run: cd $MNT_DIR/openwrt && ./scripts/feeds install -a

    - name: patch2补丁和自定义设置 # Load custom configuration
      run: |
        [ -e $MNT_DIR/files ] && mv $MNT_DIR/files $MNT_DIR/openwrt/files
        [ -e $MNT_DIR/$CONFIG_FILE ] && mv $MNT_DIR/$CONFIG_FILE $MNT_DIR/openwrt/.config
        chmod +x $MNT_DIR/$DIY_P2_SH
        cd $MNT_DIR/openwrt
        $MNT_DIR/$DIY_P2_SH
        
        cd $MNT_DIR
        platforms=("X86")
        for i in "${platforms[@]}"; do
          [ -e $MNT_DIR/config/$i.config ] && cp -r $MNT_DIR/config/$i.config $MNT_DIR/openwrt/.config
          cd $MNT_DIR/openwrt
          make defconfig
          cd $MNT_DIR
          cp -f $MNT_DIR/openwrt/.config $MNT_DIR/config/$i.config
        done

    - name: 自动更新config # Git auto update config
      uses: stefanzweifel/git-auto-commit-action@v5.0.1
      id: commit
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        commit_message: 自动更新config
        branch: main
        commit_author: huajiaoshu520

    - name: 下载软件包 # Download package
      id: package
      run: |
        cd $MNT_DIR/openwrt
        make download -j8
        find dl -size -1024c -exec ls -l {} \;
        find dl -size -1024c -exec rm -f {} \;
        make clean

    - name: 清理 /mnt 下的文件 # 清理 /mnt 下的文件
      run: |
        sudo rm -rf $MNT_DIR/*
        echo "已清理 $MNT_DIR 中的文件"

    - name: 开始编译固件 # Compile the firmware
      id: compile
      run: |
        cd $MNT_DIR/openwrt
        echo -e "$(nproc) thread compile"
        make -j$(nproc) || make -j1 || make -j1 V=s
        echo "status=success" >> $GITHUB_OUTPUT
        grep '^CONFIG_TARGET.*DEVICE.*=y' .config | sed -r 's/.*DEVICE_(.*)=y/\1/' > DEVICE_NAME
        [ -s DEVICE_NAME ] && echo "DEVICE_NAME=_$(cat DEVICE_NAME)" >> $GITHUB_ENV
        echo "FILE_DATE=_$(date +"%Y%m%d%H%M")" >> $GITHUB_ENV

    - name: 检查空间使用情况 # Check space usage
      if: (!cancelled())
      run: df -hT

    - name: 获取内核版本号
      run: |
         cd $MNT_DIR/openwrt/bin/targets/x86/64
         KERNEL_VERSION=$(ls -l *openwrt-x86-64-generic-kernel.bin | awk '{print $9}' | cut -d '-' -f1)
         echo "KERNEL_VERSION=$KERNEL_VERSION" >> $GITHUB_ENV

    - name: 整理固件文件夹 # Organize files
      id: organize
      if: env.UPLOAD_FIRMWARE == 'true' && !cancelled()
      run: |
        cd $MNT_DIR/openwrt/bin/targets/*/*
        rm -rf packages
        rm -rf profiles.json feeds.buildinfo config.buildinfo *openwrt-x86-64-generic-kernel.bin *openwrt-x86-64-generic-squashfs-rootfs.img.gz *openwrt-x86-64-generic.manifest sha256sums version.buildinfo
        for file in *-openwrt-x86-64-generic-squashfs-combined-efi.img.gz; do
            mv "$file" "23.05-$file"
        done
        echo "FIRMWARE=$PWD" >> $GITHUB_ENV
        echo "status=success" >> $GITHUB_OUTPUT

    - name: 上传固件目录 # Upload firmware directory
      uses: actions/upload-artifact@main
      if: steps.organize.outputs.status == 'success' && !cancelled()
      with:
        name: OpenWrt_firmware${{ env.DEVICE_NAME }}${{ env.FILE_DATE }}
        path: ${{ env.FIRMWARE }}

    - name: 生成发布标签 # Generate release tag
      id: tag
      if: env.UPLOAD_RELEASE == 'true' && !cancelled()
      run: |
        echo "release_tag=$RELEASE_TAG-$KERNEL_VERSION-$(date +"%Y.%m.%d-%H%M")" >> $GITHUB_OUTPUT
        touch release.txt
        echo "## 更新内容" >> release.txt
        echo "<details> <summary> Lean Openwrt Commit Top $COMMIT_LOG_NUM </summary>" >> release.txt
        git -C $MNT_DIR/openwrt log -n $COMMIT_LOG_NUM >> release.txt
        echo "</details>" >> release.txt

    - name: 上传固件以及发布 # Upload firmware to release
      uses: softprops/action-gh-release@v2
      if: steps.tag.outputs.status == 'success' && !cancelled()
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ steps.tag.outputs.release_tag }}
        body_path: release.txt
        files: ${{ env.FIRMWARE }}/*
      
    - name: 删除工作流程运行 # Delete workflow runs
      uses: Mattraks/delete-workflow-runs@v2
      with:
        retain_days: 1
        keep_minimum_runs: 2

    - name: 删除旧版本 # Remove old Releases
      uses: dev-drprasad/delete-older-releases@v0.3.4
      if: env.UPLOAD_RELEASE == 'true' && !cancelled()
      with:
        keep_latest: 5
        delete_tags: true
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
